---
const { title } = Astro.props;
---

<main>
  <a href="/">
    <span class="icon">&LeftArrow;</span>
    <span class="text">Back</span>
  </a>
  <h1>{title} Demo</h1>
  <slot />
</main>

<style>
  main {
    font-family: sans-serif;
    padding: 2rem;
  }
  a {
    text-decoration: none;
    color: rgb(196, 196, 196);
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  a .icon {
    font-size: 180%;
    margin-right: 0.5rem;
  }
  a .text {
    padding-top: 0.1rem;
  }
</style>
